{% extends 'core/base.html' %}
<!---->
    {% block content %}

<div class="container pt-5">
<div class="card text-center">
  <div class="card-header p-3 mb-2 bg-secondary text-white">
    <h5 class="card-title">Welcome to VegFresh!</h5>
  </div>
  <div class="card-body">
    <p class="card-text">Click the link below to Login or Signup!.</p>
      <button type="button" class="btn btn-info"><a class="nav-link"
            {% if user.is_authenticated %}
                <a href="{% url 'core:recipes' %}">New Recipes</a>
            {% else %}
                <a href="{% url 'core:register' %}">Sign Up!</a>
            {% endif %}
      </button>
  </div>
</div>
</div>

        <div class="container pt-5">
        <form action="{% url 'core:recipe_set' %}" method="get">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Enter your box code:</legend>
                <input name="q" type="text" placeholder="Search">
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign up</button>
            </div>
        </form>
</div>
    {% endblock content %}
{% include 'core/footer.html' %}